.partner-main {
  padding: 4rem 0;
}

.partner-formMain {
  padding: 4rem 0;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .partner-main {
    padding: 2rem 0;
    .partner-heading {
      margin-bottom: 20px;
    }
  }
  .partner-formMain {
    padding: 2rem 0;
  }
}

@media (max-width: 991px) {
  .partner-main {
    padding: 2rem 0;
    .partner-heading {
      margin-bottom: 20px;
      h1,h2 {
        font-size: 28px;
      }
    }
  }
  .partner-formMain {
    padding: 2rem 0;
  }
}
